* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  input[type="text"] {
    padding: 5px;
  }
  
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  h3, h4 {
    text-align: center;
  }